{
    "GitHub": true,
    "GetPSDev": true,
    "PSGallery": true,
    "PushLocal": true,
    "Sign": true,
    "CreateZIP": true,
    "RunPesterTests": true,
    "CreateInstall": true,
    "InstallerConfig": {
        "AppPublisher": "GetPS",
        "AppPublisherURL": "getps.dev",
        "AppSupportURL": "getps.dev",
        "AppUpdatesURL": "getps.dev"
    },
    "OS": {
        "Windows": true,
        "Linux": true,
        "MacOS": true
    },
    "Edition": {
        "Core": true
    },
    "VersionSupport": {
        "Core": {
            "Windows": [
                "7.2",
                "7.1",
                "6.1"
            ],
            "Linux": [
                "7.2",
                "7.1",
                "6.1"
            ],
            "MacOS": [
                "7.2",
                "7.1",
                "6.1"
            ]
        }
    }
}
